<div class="page-header">
  <h3>Colorway #<%= @colorway.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sneaker</dt>
      <dd><%= @colorway.sneaker_id %></dd>

      <dt>Colorway name</dt>
      <dd><%= @colorway.colorway_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/colorways" class="btn btn-primary">
        Back
      </a>
      <a href="/colorways/<%= @colorway.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_colorway/<%= @colorway.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Colorway has many brand_name -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Brand Name
      </li>

      <% @colorway.brand_name.each do |brand| %>
        <li class="list-group-item">
          <a href="/brands/<%= brand.id %>">
            <%= brand.sneaker_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/brands/<%= brand.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/brands/<%= brand.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_brand/<%= brand.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
