<div class="page-header">
  <h3>Release Year #<%= @release_year.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sneaker</dt>
      <dd><%= @release_year.sneaker_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/release_years" class="btn btn-primary">
        Back
      </a>
      <a href="/release_years/<%= @release_year.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_release_year/<%= @release_year.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Release year has many sneaker_models -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sneaker Models
      </li>

      <% @release_year.sneaker_models.each do |sneaker_model| %>
        <li class="list-group-item">
          <a href="/sneaker_models/<%= sneaker_model.id %>">
            <%= sneaker_model.initial_release_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sneaker_models/<%= sneaker_model.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sneaker_models/<%= sneaker_model.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sneaker_model/<%= sneaker_model.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
