<div class="page-header">
  <h1>
    Sneaker models
    <a href="/sneaker_models/new" class="btn btn-lg btn-success">New Sneaker model</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Initial release date</th>
        <th>Release year</th>
        <th>Colorway name</th>
        <th>Brand</th>
        <th>Lead designer</th>
        <th>Sneaker image</th>
        <th>Sneaker</th>
        <th>Designer</th>
        <th>Brands</th>
        <th>Actions</th>
      </tr>

      <% @sneaker_models.each do |sneaker_model| %>
      <tr>
        <td><%= sneaker_model.initial_release_date %></td>
        <td><%= sneaker_model.initial_release_year.sneaker_id %></td>
        <td><%= sneaker_model.colorway_name %></td>
        <td><%= sneaker_model.brand %></td>
        <td><%= sneaker_model.lead_designer %></td>
        <td><%= sneaker_model.sneaker_image %></td>
        <td><%= sneaker_model.sneaker_id %></td>
        <td><%= sneaker_model.designer_id %></td>
        <td><%= sneaker_model.brands_id %></td>
        <td>
          <a href="/sneaker_models/<%= sneaker_model.id %>" class="btn btn-primary">Show</a>
          <a href="/sneaker_models/<%= sneaker_model.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_sneaker_model/<%= sneaker_model.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
