<div class="page-header">
  <h3>Sneaker Model #<%= @sneaker_model.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Initial release date</dt>
      <dd><%= @sneaker_model.initial_release_date %></dd>

      <dt>Release year</dt>
      <dd>
        <% if @sneaker_model.initial_release_year.present? %>
          <a href="/release_years/<%= @sneaker_model.release_year %>">
            <%= @sneaker_model.initial_release_year.sneaker_id %>
          </a>
        <% end %>
      </dd>

      <dt>Colorway name</dt>
      <dd><%= @sneaker_model.colorway_name %></dd>

      <dt>Brand</dt>
      <dd><%= @sneaker_model.brand %></dd>

      <dt>Lead designer</dt>
      <dd><%= @sneaker_model.lead_designer %></dd>

      <dt>Sneaker image</dt>
      <dd><img src="<%= @sneaker_model.sneaker_image %>" class="img-responsive"></dd>

      <dt>Sneaker</dt>
      <dd><%= @sneaker_model.sneaker_id %></dd>

      <dt>Designer</dt>
      <dd><%= @sneaker_model.designer_id %></dd>

      <dt>Brands</dt>
      <dd>
        <% if @sneaker_model.brand_name.present? %>
          <a href="/brands/<%= @sneaker_model.brands_id %>">
            <%= @sneaker_model.brand_name.sneaker_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sneaker_models" class="btn btn-primary">
        Back
      </a>
      <a href="/sneaker_models/<%= @sneaker_model.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_sneaker_model/<%= @sneaker_model.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Sneaker model has many colorways -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Colorways
      </li>

      <% @sneaker_model.colorways.each do |colorway| %>
        <li class="list-group-item">
          <a href="/colorways/<%= colorway.id %>">
            <%= colorway.sneaker_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/colorways/<%= colorway.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/colorways/<%= colorway.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_colorway/<%= colorway.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_colorway" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sneaker_id -->
      <div class="form-group">
        <label for="sneaker_id" class="control-label">
          Sneaker
        </label>

        <%= select_tag(:sneaker_id, options_from_collection_for_select(SneakerModel.all, :id, :initial_release_date), :class => "form-control") %>
      </div>

      <!-- Label and input for colorway_name -->
      <div class="form-group">
        <label for="colorway_name" class="control-label">
          Colorway name
        </label>

        <input type="text" id="colorway_name" name="colorway_name" placeholder="Colorway name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Colorway
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
