<div class="page-header">
  <h1>
    Designers
    <a href="/designers/new" class="btn btn-lg btn-success">New Designer</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Designer name</th>
        <th>Sneaker</th>
        <th>Designer</th>
        <th>Actions</th>
      </tr>

      <% @designers.each do |designer| %>
      <tr>
        <td><%= designer.designer_name %></td>
        <td>
          <% if designer.sneaker.present? %>
            <a href="/sneaker_models/<%= designer.sneaker.id %>">
              <%= designer.sneaker.initial_release_date %>
            </a>
          <% end %>
        </td>
        <td><%= designer.designer_id %></td>
        <td>
          <a href="/designers/<%= designer.id %>" class="btn btn-primary">Show</a>
          <a href="/designers/<%= designer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_designer/<%= designer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @designers, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
