<div class="page-header">
  <h3>Designer #<%= @designer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Designer name</dt>
      <dd><%= @designer.designer_name %></dd>

      <dt>Sneaker</dt>
      <dd><%= @designer.sneaker_id %></dd>

      <dt>Designer</dt>
      <dd><%= @designer.designer_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/designers" class="btn btn-primary">
        Back
      </a>
      <a href="/designers/<%= @designer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_designer/<%= @designer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
