<div class="page-header">
  <h3>Designer #<%= @designer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Designer name</dt>
      <dd><%= @designer.designer_name %></dd>

      <dt>Sneaker</dt>
      <dd>
        <% if @designer.sneaker.present? %>
          <a href="/sneaker_models/<%= @designer.sneaker_id %>">
            <%= @designer.sneaker.initial_release_date %>
          </a>
        <% end %>
      </dd>

      <dt>Designer</dt>
      <dd><%= @designer.designer_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/designers" class="btn btn-primary">
        Back
      </a>
      <a href="/designers/<%= @designer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_designer/<%= @designer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Designer has many brand_name -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Brand Name
      </li>

      <% @designer.brand_name.each do |brand| %>
        <li class="list-group-item">
          <a href="/brands/<%= brand.id %>">
            <%= brand.sneaker_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/brands/<%= brand.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/brands/<%= brand.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_brand/<%= brand.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
