<div class="page-header">
  <h3>Brand #<%= @brand.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sneaker</dt>
      <dd><%= @brand.sneaker_id %></dd>

      <dt>Brand</dt>
      <dd><%= @brand.brand_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/brands" class="btn btn-primary">
        Back
      </a>
      <a href="/brands/<%= @brand.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_brand/<%= @brand.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Brand has many sneaker_models -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sneaker Models
      </li>

      <% @brand.sneaker_models.each do |sneaker_model| %>
        <li class="list-group-item">
          <a href="/sneaker_models/<%= sneaker_model.id %>">
            <%= sneaker_model.initial_release_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sneaker_models/<%= sneaker_model.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sneaker_models/<%= sneaker_model.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sneaker_model/<%= sneaker_model.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Brand has many designers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Designers
      </li>

      <% @brand.designers.each do |designer| %>
        <li class="list-group-item">
          <a href="/designers/<%= designer.id %>">
            <%= designer.designer_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/designers/<%= designer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/designers/<%= designer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_designer/<%= designer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Brand has many colorways -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Colorways
      </li>

      <% @brand.colorways.each do |colorway| %>
        <li class="list-group-item">
          <a href="/colorways/<%= colorway.id %>">
            <%= colorway.sneaker_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/colorways/<%= colorway.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/colorways/<%= colorway.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_colorway/<%= colorway.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
